# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Process Simple Yaml
      run: |
        python tools/process_simple.py
        head taxonomy.yaml
        cp taxonomy.tx.yaml taxonomy.orig.yaml
    - name: Translate
      env:
        TRANSIFEX_TOKEN: ${{secrets.TRANSIFEX_TOKEN}}
      run: |
        python tools/translate.py
    - name: Test Version
      run: |
        python tools/test_version.py
    - name: Generate MD
      run: |
        python tools/to_markdown.py
    - name: Generate CSV
      run: |
        python -m tools.to_csv
    - name: Deploy
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        python tools/push_translations.py
        git config user.email "adam.kariv@gmail.com"
        git config user.name "Adam Kariv"
        (git add taxonomy.yaml taxonomy.tx.yaml TAXONOMIES.md formats versions && git commit -m "Automatic update of artifacts" && git push) || true
